body {
  overflow-x:hidden;}

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }

.btn {
  -webkit-animation-duration:5s;
  -webkit-animation-delay:0.2s;
  -webkit-animation-iteration-count:infinite;
}

#slider .carousel-item {
  height: 780px;
}

.carousel-image-1 {
  background: url("../img/brian2.jpg");
  background-size: cover;
/*  background-position: center center;
*/}

.carousel-image-2 {
  background: url("../img/brian1.jpg");
  background-size: cover; 
  background-position: center center;
}

.carousel-image-3 {
  background: url("../img/brian3.jpg");
  background-size: cover; 
  background-position: center center;
}

.carousel-image-4 {
  background: url("../img/1.jpg");
  background-size: cover; 
  background-position: center center;
}

.captions .card {
  -webkit-animation-duration:3s;
  -webkit-animation-delay:0.01s;
}

.about {
  border-bottom: 1px solid #17a2b8; /* '#17a2b8' Info color codes */
  border-left: 1px solid #17a2b8;
}

#about .brian {
  -webkit-animation-duration:10s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-iteration-count:infinite;
}

#about .fa-arrow-down {
  -webkit-animation-duration:10s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-iteration-count:infinite;
}

